<div class="search-field mt-10 mb-10">
  <div class="search-movie" data-controller="autocomplete" data-autocomplete-url-value="/movies/search_movie">
    <input type="text" placeholder="Search movie" class="form-control" data-autocomplete-target="input">
    <!-- data-action="keyup->main#searchMovies" data-main-target="movieSearch" -->
    <ul data-autocomplete-target="results"></ul>
  </div>
  <div class="skip" data-main-target="skipbutton">
    <button class="btn" data-action="click->main#skip">Skip</button>
  </div>
</div>