<div class="search-field mt-10 mb-10 ml-10" data-main-target="searchfield">
  <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048">

  <!--<div class="search-movie" data-controller="autocomplete" data-autocomplete-url-value="/movies/search_movie" >
    <input type="text" placeholder="Search movie" class="form-control" data-autocomplete-target="input" onfocus="this.value=''">
    data-action="keyup->main#searchMovies" data-main-target="movieSearch"
    <ul class="list-group" data-autocomplete-target="results" style="max-height: 10rem; overflow-y: scroll; cursor: pointer;"></ul>
  </div>-->
  <div class="skip" data-main-target="skipbutton">
    <button class="btn" data-action="click->main#skip">Skip</button>
  </div>
</div>