<div class="search-field mt-10 mb-10 ml-10" data-main-target="searchfield">
  <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048">
  <div class="skip" data-main-target="skipbutton">
    <button class="btn" data-action="click->main#skip">Skip</button>
  </div>
</div>