<div class=container data-controller="main">
  
  <h1 class="title">Cheppuko</h1>
  <div class="header-icons">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#statsModal">
      <%#= icon('fa-thin', 'square-info')%>
      <i class="fas fa-chart-simple"></i>
    </button>
    <button type="button" class="btn btn-primary ml-10" data-bs-toggle="modal" data-bs-target="#howToPlay">
      <i class="fas fa-circle-info"></i> 
    </button>
  </div>
 
  <div class="image-frame" data-movie="<%= @movie.id %>" data-main-target="movie">
    <%= render partial: "movies/image", locals: {image: @image, movie: @movie} %>
  </div>
  
  <div data-movie="<%= @movie.title %>" data-main-target="title"></div>

  <div class="hit-buttons mb-10 mt-10" data-main-target="skip">
    
  </div>

  <%= render 'movie_search' %>
 
  <div class="movie-guess" data-main-target="movieguess" data-mguess="">
    
  </div>
  <div class="movie-guess" data-main-target="movieguess">
    
  </div>
</div>





<div class="modal fade" id="howToPlay" tabindex="-1" aria-labelledby="howToPlayLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="howToPlayLabel">How to play</h6>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="info-1">
          <span class="fas fa-image"></span>
          <p>Use the image provided to guess the name of the movie</p>
        </div>
        <div class="info-2">
          <span class="fas fa-eye"></span>
          <p>If you get a guess wrong a new image from the movie is revealed.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="statsModal" tabindex="-1" aria-labelledby="statsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="statsModalLabel">Stats</h6>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="stats-bar">
          <div class="played row">
            <span class="bg-warning played-stat">1</span>
            <span>played</span>
          </div>                                              
          <div class="win row">
            <span class="bg-success won-stat">0</span>
            <span>won</span>
          </div>
          <div class="percentage row">
            <span>100%</span>
            <span>win%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>